html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--muted-color);
}

:root {
    --highlighted-text: #C15F00;
    --accent-meddark: #F4BF8C;
    --highlight-color: #F37C48;
    --muted-color: #7A5F46;
    --accent-light: #FAF7F1;
    --accent-med: #F6EAD9;
}
h1{
	font-size: 50px;

}
h3{
font-size: 30px;
}
.wrapper {
    height: 100%;
    width: 100%;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar img {
    height: 80px;
    margin-left: 80px;
    cursor: pointer;
}

.ul-header {
    flex: 1;
    text-align: right;
    margin: 20px;
    margin-right: 100px;
    margin-top: 30px;
}

.ul-header .li-header {
    display: inline-block;
    list-style: none;
    margin: 20px;
}

.ul-header .li-header a {
    text-decoration: none;
    color: var(--muted-color);
    padding: 0px;
    position: relative;
}
.top {
    display: flex;
    justify-content: space-between;
    margin: 10px 25px;
    color: var(--muted-color);
    opacity: 0.8;
    font-size: 18px;
    font-weight: 600;
}

.top .here {
    align-self: flex-end;
}
.navbar .li-header.highlighted a {
    color: var(--highlight-color);
}

.wrapper .navbar-hr {
    width: 100%;
    background-color: var(--accent-meddark);
    border-width: 0;
    color: var(--accent-meddark);
    height: 1px;
    margin: 0;
}
.body-container {
    background-color: var(--accent-med);
    height: 110%;
    border-bottom: 1px solid var(--accent-meddark);
}

.left{
	width: 50px;
	height: 206px;

}
.picture .service{
    display: flex;
    margin-top: 4rem;
    width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.picture .service img {
    width: 100%;
    min-width: 28vw;
    max-width: 28vw;
}
 .picture .body-container {
    text-align: center;
    margin: 1rem;
}

.service {
    padding: 1rem;
    margin-top: 1rem;
	margin-bottom: 5vh;
}
.service1,
.service2,
.service3{
    width: 40vw;

}
span{
	color: #C15F00;

}
.container{
	display: flex;
}
.container .leftp{
	margin-top: 20px;
	margin-left: 20px;

}
.container .right{
    height: 300px;
    padding-left: 2.5rem;
    margin: 20px;

   
}
/*Footer*/
.footer {
    height: 400px;
    position: relative;
    bottom: 0;
    color: var(--muted-color);
}

.footer .f-cont {
    height: 385px;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
}

.f-cont {
    background-color: var(--accent-med);
    padding-top: 10px;
}

.f-sec {
    padding-top: 10px;
    padding-left: 10px;
}

.f-sec img {
    width: 50px;
    float: left;
}

.f-sec .news1 img,
.news2 img,
.news3 img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
}

.f-sec .news1,
.news2,
.news3 {
    margin: 10px 0;
}

.links {
    margin-left: 20px;
    width: 25%;
}

.news {
    width: 35%;
}

.footer .f-bott {
    background-color: var(--accent-meddark);
    color: var(--muted-color);
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 0px;
    line-height: 50px;
}

p {
    margin: 0;
    vertical-align: top;
}

#hours,
#num {
    margin-top: 15px;
    margin-bottom: 15px;
}

#fdate,
#sdate,
#thdate {
    color: var(--muted-color);
    opacity: 0.8;
    padding-top: 5px;
    padding-bottom: 20px;
}

.navbar-bott {
    display: flex;
    align-items: center;
    height: 70px;
}

.navbar-bott p {
    margin-left: 50px;
}

.ul-bott {
    flex: 1;
    text-align: right;
}

.ul-bott .li-bott {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

.ul-bott .li-bott a {
    text-decoration: none;
    color: var(--muted-color);
    position: relative;
}

.twitter,
.facebook {
    width: 150px;
    float: left;
}

.twitter p,
.facebook p {
    margin: 8px;
    font-size: 12px;
}

.twitter img,
.facebook img {
    margin-right: 10px;
    width: 40px;
}
